{% extends 'my_flat/index.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
    <div class="content-section div_form float">
        <h2>Panel podłogowy - {{ chosen_floor_panel.name }}</h2>
        <h2>Podkład podłogowy - {{ chosen_floor_panel_bed.name }}</h2>
        <h2>Panel podłogowy - {{ chosen_foil.name }}</h2>
        <h2>Łączny koszt: </h2>
            <p>{{ costs_of_floor_panel }} zł</p>
        <h2>Listwa przypodłogowa - {{ chosen_board.name }} :</h2>
            <p>{{ costs_of_board }} zł</p>
    <a href="{% url 'renovation-cost' %}" class="btn btn-outline-success my-2 my-sm-0">Wróc do kategorii</a>
    </div>

{% endblock %}
