{% extends 'my_flat/index.html' %}
{% load static %}

{% block content %}

    <div class="content-section div_form ">
        <h1 class="rounded p-3 mb-2 bg-warning text-dark text-center" >Wybierz kategorie</h1>
        <button type="button" class="btn btn-primary btn-lg btn-block">Malowanie</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Tapetowanie</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Glazura</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Biały montaż</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Żaluzje/Rolety/Zasłony</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Kuchnia</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Urządzenia elektryczne</button>
    </div>
{% endblock %}