{% extends 'my_flat/index.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <h1 class="rounded p-3 mb-2 bg-warning text-dark text-center">Wybierz kategorie</h1>
        <a href="{% url 'plaster-cost' %}">
            <button type="button" class="btn btn-primary btn-lg btn-block">Szpachlowanie ścian</button>
        </a>
        <a href="{% url 'painting-cost' %}">
            <button type="button" class="btn btn-primary btn-lg btn-block">Malowanie</button></a>
        <a href="{% url 'wallpaper-cost' %}">
            <button type="button" class="btn btn-primary btn-lg btn-block">Tapetowanie</button>
        </a>
        <a href="{% url 'ceramicGlaze-cost' %}">
            <button type="button" class="btn btn-primary btn-lg btn-block">Glazura</button>
        </a>

        <a href="{% url 'floor-panel-cost' %}">
            <button type="button" class="btn btn-primary btn-lg btn-block">Panele podłogowe</button>
        </a>
    </div>
{% endblock %}