.my_list{
	float: right;
	border: 1px solid #eee;
	padding: 10px;
}

.div_image1 {
	float: left;
	width: 33%;
	height: 50%;
	display: inline-block;
	box-sizing: border-box;
}
.div_image2 {
	width: 33%;
	height: 50%;
	display: inline-block;
	box-sizing: border-box;
}
.div_image3 {
	width: 33%;
	height: 50%;
	display: inline-block;
	box-sizing: border-box;
}
.red_color{
	background-color: chartreuse;
}

img {
	width: 100%;
	border: 2px;
    border-radius: 30px;
    padding: 5px;

}

.service-list {
    list-style-type: none;
    margin-left:0;
    padding-left:0;
    float: left;
    display: inline-block;
}