.my_list{
	float: right;
	border: 1px solid #eee;
	padding: 10px;
}

.div_form {
	width: 33%;
	height: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.div_image1 {
	float: left;
	width: 33%;
	height: 50%;
	display: inline-block;
	box-sizing: border-box;
}
.div_image2 {
	width: 33%;
	height: 50%;
	display: inline-block;
	box-sizing: border-box;
}
.div_image3 {
	width: 33%;
	height: 50%;
	display: inline-block;
	box-sizing: border-box;
}

.div_img_review {
	float: left;
	width: 20%;
	/*height: 200px;*/
	display: inline-block;
	/*box-sizing: border-box;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*margin-bottom: auto;*/
	margin: auto;
}

.red_color{
	background-color: chartreuse;
}

.img_review {
	width: 100%;
	border: 2px;
    border-radius: 30px;
    padding: 5px;

}

.main_img{
    display: block;
    margin: 0 auto;
}

.service-list {
    list-style-type: none;
    margin-left:0;
    padding-left:0;
    float: left;
    display: inline-block;
}