{% extends "index.html" %}
{% load static %}

{% block content %}

    <a href="/bud_investment"><div class="div_image1">
        <img class="main_img" src="{% static 'images/LOGO_BD_NIERUCHOMOSCI.jpg' %}" alt="blogo">
    </div></a>
    <a href="/dd_investment">
    <div class="div_image2">
        <img class="main_img" src="{% static 'images/dd.jpeg' %}" alt="dlogo">
    </div>
    </a>
    <div class="div_image3">
        <img class="main_img" src="{% static 'images/vdom.jpeg' %}" alt="vlogo">
    </div>

{% endblock %}