{% extends "my_flat/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <h2>{{ user.username }}</h2>
        <a href="/forum/new_topic">Nowy wątek</a>
    </div>
    <div class="content-section div_form">
        <article class="media content_section">
            <div class="media-body">
                {% for topic in topics %}
                    <div class="article-metadata">
                    <small class="mr-2">{{ topic.author }}</small>
                    <small class="text-muted">{{ topic.date_posted|date:"F d, Y, H:i" }}</small>
                    {% if topic.author == user %} {# If author of object post is equal to currently logged user #}
                        <small><a class="text-danger" href="{% url 'delete_topic' topic.id %}">Skasuj</a></small>
                    {% endif %}
                    </div>
                    <h2 class="alert alert-primary"> <a href="{% url 'forumTopicPosts' topic.id %}">{{ topic.title }}</a></h2>
                {% endfor %}
            </div>
        </article>
    </div>
{% endblock %}